.posters {
	width: 100%;
}

tr[data-status="1"] {
	background-color: #2a88bd;
}

tr[data-status="2"] {
	background-color: #c0f9b5;
}

tr[data-status="3"] {
	background-color: #d3bcff;
}

tr[data-status="4"] {
	background-color: #ffc4c4;
}
